# Created by https://www.toptal.com/developers/gitignore/api/nodejs,angular,express
# Edit at https://www.toptal.com/developers/gitignore?templates=nodejs,angular,express

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

#!! ERROR: express is undefined. Use list command to see defined gitignore types !!#

#!! ERROR: nodejs is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/nodejs,angular,express
