<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo</title>
</head>
<body>
    <h3>My Todo</h3>
    <form method="POST" action="/todos/add">
        <input type="text" name="text" placeholder="Input here!">
        <button type="submit">Add</button>
    </form>

    <h5>Todo List</h5>
    <ul>
        <% todos.forEach(function(todo){ %>
            <li>
                <form method="POST" action="/todos/delete/<%= todo.id %> ">
                    <%= todo.text %>
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
